<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>More Model Events and listen to event</title>
		<script src="js/jquery-3.3.1.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
	</head>
	<body>
		<div id="content"></div>
		<script type="text/html" id="each">
			<% _.each(this.model.attributes, function(value, key){ %>
				<%= key %>: <%= value %>
				<br>
			<% }) %>
		</script>	
		<script type="text/javascript" src="script.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>